.navbar{
    height: 50px;
    border-bottom: 1px solid rgb(0, 253, 248);
    display: flex;
    align-items: center;

    .contenedornb{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;        

        .search{
            display: flex;
            align-items: center;
            border: 1px solid rgb(198, 198, 198);
            border-radius: 10px;
            padding: 4px;    
            
            input{
                border: none; 
                outline: none;
                background: transparent;               
            }
            .icon{
                font-size: 30px;
                color: #16ebeb;
            }
        }

        .items{
            display: flex;
            align-items: center;

            .item{
                display: flex;
                align-items: center;
                margin-right: 10px;

                .icon{
                    font-size: 30px;
                    color: #16ebeb;
                }

                .avatar{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }

            
        }
    }

}