.users{
    display: flex;
    width: 100%;    
    .usersContainer{        
        flex: 5;

        .widgets{
            display:  flex;
            padding: 20px;
            gap: 20px;
        }
    }
}