.users{
    display: flex;
    width: 100%;   
    
    .usersContainer{        
        flex: 5;        

        .widgets{
            display:  flex;
            padding: 20px;
            justify-content: space-between;          

            .crearUser{
                display: flex;
                justify-content: space-between;                
                padding: 15px;
                -webkit-box-shadow: 2px 5px 10px 2px #012e2e; 
                box-shadow: 2px 5px 10px 2px #71c2bb;
                margin: 20px;
                border-radius: 10px;
                height: 80px;
                width: 100%;
            
                .left, .right{
                    display: flex;        
                    flex-direction: column;
                    justify-content: space-between;
            
                    .title{
                        font-weight: bold;
                        font-size: 23px;
                        color:rgb(0, 220, 216);
                    }
                    .descrip{
                        font-size: 16px;
                        font-weight: 400;
                    }
                    .link{
                        width: max-content;
                        font-size: 20px;            
                        border-color: aqua;
                        border-radius: 5px;
                        background: linear-gradient(90deg, #00b8d4, #16ebeb);
                        color: rgb(255, 255, 255); 
                        
                        &:hover{
                            background-color: #ff000042;
                        }
                        
                    }
            
                    .icon{
                       font-size: 30px;
                        color: rgb(0, 253, 248); 
                    }
                }
            }
            .tituloUser{
                display: flex;
                justify-content: space-between;    
                flex-direction: column;            
                padding: 15px;
                -webkit-box-shadow: 2px 5px 10px 2px #012e2e; 
                box-shadow: 2px 5px 10px 2px #71c2bb;
                margin: 20px;
                border-radius: 10px;
                height: 80px;
                width: 100%;
                align-items: center;
                

                .title{
                    font-weight: bold;
                    font-size: 43px;
                    color:rgb(0, 220, 216);
                }
                                

            }
            .busquedaUser{
                display: flex;
                justify-content: space-between;                
                padding: 15px;
                -webkit-box-shadow: 2px 5px 10px 2px #012e2e; 
                box-shadow: 2px 5px 10px 2px #71c2bb;
                margin: 20px;
                border-radius: 10px;
                height: 80px;
                width: 100%;

                .left, .right{
                    display: flex;        
                    flex-direction: column;
                    justify-content: space-between;
            
                    .title{
                        font-weight: bold;
                        font-size: 23px;
                        color:rgb(0, 220, 216);
                    }

                    .search{
                        display: flex;
                        align-items: center;
                        border: 1px solid rgb(198, 198, 198);
                        border-radius: 10px;
                        padding: 4px;    
                        
                        input{
                            border: none; 
                            outline: none;
                            background: transparent;               
                        }
                        .icon{
                            font-size: 30px;
                            color: #16ebeb;
                        }
                    }                  

                    .icon{
                       font-size: 30px;
                        color: rgb(0, 253, 248); 
                    }
                }
            }
            
        }

        /* es para la visualizacion de la tabla*/

        .tablaContainer{
                display: flex;                    
                flex-direction: column;            
                padding: 15px;
                -webkit-box-shadow: 2px 5px 10px 2px #012e2e; 
                box-shadow: 2px 5px 10px 2px #71c2bb;
                margin: 20px;
                border-radius: 10px;
                height: 80px;               
                align-items: center;
        }
    }
}