.crearuser{
    display: flex;
    .crearuserContainer{
        flex: 5;

        .containerform{
            padding: 5px;


            .top, .botton{
                -webkit-box-shadow: 2px 5px 10px 2px #012e2e; 
                box-shadow: 2px 5px 10px 2px #71c2bb;
                padding: 10px;
                margin: 20px;
                display: flex;

                h1{
                    color: rgb(134, 133, 133);
                }

                .left{
                    flex: 1;
                    text-align: center;

                    img{
                        width: 250px;
                        height: 250px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .right{
                    flex: 2;

                    form{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 40px;
                        justify-content: space-around;
                        
                        .formInput{
                            width: 40%;

                            input{
                                width: 100%;
                                padding: 5px;
                                border: none;
                                border-bottom: 1px solid rgb(0, 253, 248);                                
                                outline: none;
                                background: transparent;
                            }
                        }

                        .btn{
                            width: 40%;
                            border: none;
                            background-color: #00b8d4;
                            border-radius: 5px;
                            color: white;
                            cursor: pointer;
                        }

                    }
                }
            }


        }


    }
}